In [1]:
import math
import collections
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
import utils

In [2]:
class Simulation:
    def __init__(self, scenarios):
        self.scenarios = scenarios
        self.results = pd.DataFrame()

    def simulate(self):
        for scenario in self.scenarios:
            scenario.run()
            self.results = self.results.append(scenario.results)

In [3]:
port = utils.Portfolio()
mort = utils.Mortgage(50, 0.0305, 3.6e6, 30, 12)
apartment = utils.RealEstate(4.2e6, mort)
scenario_1 = utils.Scenario(apartment, port, 0.05, 0.05, 100, 5000, 5000)
scenarios = [scenario_1]
sim = Simulation(scenarios)

In [4]:
sim.simulate()

In [5]:
sim.results

,mortgage_amount,price_index,current_price_real_est,fee,interest_amount,capital_downpayment,invested_amount,purchase_price_stock,current_price_portf,value_stock,scenario_name
0,3.600000e+06,1.000000,4.200000e+06,50,9150.000000,11124.995854,5000,100.000000,266.789666,13339.483312,0.05_0.05_5000_5000
1,3.588875e+06,1.004167,4.217500e+06,50,9121.723969,11153.271885,5000,100.416667,266.789666,13284.132759,0.05_0.05_5000_5000
2,3.577722e+06,1.008351,4.235073e+06,50,9093.376069,11181.619785,5000,100.835069,266.789666,13229.011876,0.05_0.05_5000_5000
3,3.566540e+06,1.012552,4.252719e+06,50,9064.956119,11210.039735,5000,101.255216,266.789666,13174.119711,0.05_0.05_5000_5000
4,3.555330e+06,1.016771,4.270439e+06,50,9036.463935,11238.531919,5000,101.677112,266.789666,13119.455314,0.05_0.05_5000_5000
...,...,...,...,...,...,...,...,...,...,...,...
232,8.943902e+04,2.623891,1.102034e+07,50,227.324174,20047.671681,5000,262.389106,266.789666,5083.855615,0.05_0.05_5000_5000
233,6.939135e+04,2.634824,1.106626e+07,50,176.369675,20098.626180,5000,263.482394,266.789666,5062.760778,0.05_0.05_5000_5000
234,4.929272e+04,2.645802,1.111237e+07,50,125.285666,20149.710188,5000,264.580238,266.789666,5041.753472,0.05_0.05_5000_5000
235,2.914301e+04,2.656827,1.115867e+07,50,74.071820,20200.924035,5000,265.682655,266.789666,5020.833333,0.05_0.05_5000_5000
236,8.942087e+03,2.667897,1.120517e+07,50,22.727804,20252.268050,5000,266.789666,266.789666,5000.000000,0.05_0.05_5000_5000

In [6]:
# add commission fee to portfolio
# create scenario compiler function (from a dictionary of lists of parameters)
# add overpaid amount to mortgage history
# add month as a separate column in portfolio and morgage results instead of as explicit index