In [1]:
import math
import collections
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output
import utils

In [2]:
params = {'growth_rate_real_estate': [i/100 for i in list(range(3, 10))],
          'growth_rate_stocks': [i/100 for i in list(range(3, 10))],
          'initial_price_stocks': [100],
          'mortgage_overpayment_amount': list(range(0, 20001, 5000)),
          'investment_amount': list(range(0, 20001, 5000))}


scenarios = []
for gre in params['growth_rate_real_estate']:
    for gs in params['growth_rate_stocks']:
        for ps in params['initial_price_stocks']:
            for ma in params['mortgage_overpayment_amount']:
                for ia in params['investment_amount']:
                    scenarios.append(utils.Scenario(utils.RealEstate(4.2e6, utils.Mortgage(0.0305, 3.6e6, 30, 12)), utils.Portfolio(), gre, gs, ps, ma, ia))


sim = utils.Simulation(scenarios)

In [3]:
%%time
sim.simulate()

Completed scenario 1224.
CPU times: user 49.5 s, sys: 14 s, total: 1min 3s
Wall time: 1min 2s

In [4]:
history = sim.history

In [5]:
history.head()

,mortgage_amount,price_index,current_price_real_est,interest_amount,capital_downpayment,purchase_price_stocks,current_price_stocks,value_stocks,scenario_name,growth_rate_real_estate,growth_rate_stocks,mortgage_overpayment_amount,investment_amount,month,profit_stocks,cumulative_interest_amount,cumulative_profit_stocks,current_profit_real_estate
0,3.600000e+06,1.000000,4.200000e+06,9150.000000,6124.995854,100.000000,245.684221,0.0,0.03_0.03_0_0,0.03,0.03,0,0,0,0.0,9150.000000,0.0,-9150.000000
1,3.593875e+06,1.002500,4.210500e+06,9134.432302,6140.563552,100.250000,245.684221,0.0,0.03_0.03_0_0,0.03,0.03,0,0,1,0.0,18284.432302,0.0,-7784.432302
2,3.587734e+06,1.005006,4.221026e+06,9118.825037,6156.170818,100.500625,245.684221,0.0,0.03_0.03_0_0,0.03,0.03,0,0,2,0.0,27403.257339,0.0,-6377.007339
3,3.581578e+06,1.007519,4.231579e+06,9103.178102,6171.817752,100.751877,245.684221,0.0,0.03_0.03_0_0,0.03,0.03,0,0,3,0.0,36506.435441,0.0,-4927.619816
4,3.575406e+06,1.010038,4.242158e+06,9087.491399,6187.504455,101.003756,245.684221,0.0,0.03_0.03_0_0,0.03,0.03,0,0,4,0.0,45593.926840,0.0,-3436.164176

In [6]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254065 entries, 0 to 254064
Data columns (total 18 columns):
mortgage_amount                254065 non-null float64
price_index                    254065 non-null float64
current_price_real_est         254065 non-null float64
interest_amount                254065 non-null float64
capital_downpayment            254065 non-null float64
purchase_price_stocks          254065 non-null float64
current_price_stocks           254065 non-null float64
value_stocks                   254065 non-null float64
scenario_name                  254065 non-null object
growth_rate_real_estate        254065 non-null float64
growth_rate_stocks             254065 non-null float64
mortgage_overpayment_amount    254065 non-null int64
investment_amount              254065 non-null int64
month                          254065 non-null int64
profit_stocks                  254065 non-null float64
cumulative_interest_amount     254065 non-null float64
cumulative_profit_stocks       254065 non-null float64
current_profit_real_estate     254065 non-null float64
dtypes: float64(14), int64(3), object(1)
memory usage: 34.9+ MB

In [8]:
totals = sim.profit

In [9]:
totals.head()

,scenario_name,profit_real_estate,profit_stocks,growth_rate_real_estate,growth_rate_stocks,mortgage_overpayment_amount,investment_amount
0,0.03_0.03_0_0,4.219739e+06,0.000000e+00,0.03,0.03,0,0
1,0.03_0.03_0_5000,4.219739e+06,1.120969e+06,0.03,0.03,0,5000
2,0.03_0.03_0_10000,4.219739e+06,2.241937e+06,0.03,0.03,0,10000
3,0.03_0.03_0_15000,4.219739e+06,3.362906e+06,0.03,0.03,0,15000
4,0.03_0.03_0_20000,4.219739e+06,4.483875e+06,0.03,0.03,0,20000

In [10]:
totals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225 entries, 0 to 1224
Data columns (total 7 columns):
scenario_name                  1225 non-null object
profit_real_estate             1225 non-null float64
profit_stocks                  1225 non-null float64
growth_rate_real_estate        1225 non-null float64
growth_rate_stocks             1225 non-null float64
mortgage_overpayment_amount    1225 non-null int64
investment_amount              1225 non-null int64
dtypes: float64(4), int64(2), object(1)
memory usage: 67.1+ KB

In [11]:
real_estate_price_15_y = 77339
real_estate_price_0_y = 27308
snp_price_15_y = 3235
snp_price_0_y = 1186

In [12]:
growth_rate_real_estate = math.pow(real_estate_price_15_y/real_estate_price_0_y, 1/15) - 1
growth_rate_stocks = math.pow(snp_price_15_y/snp_price_0_y, 1/15) - 1

In [13]:
print(f'Growth rate real estate for the last 15 years: {growth_rate_real_estate:.2%}, growth rate S&P500 for the last 15 years: {growth_rate_stocks:.2%}.')

Growth rate real estate for the last 15 years: 7.19%, growth rate S&P500 for the last 15 years: 6.92%.

In [14]:
# where is the break even point at various real estate growth rates (at what point in time the profit from the growth is more than the loss due to interest payments)
# for various periods, with growth real estate on X and growth stocks on Y, what is the profit for various cases
# for various periods, with overpayment real estate on X and investment on Y what is the profit for various cases
# with today's growth rates, what is more profitable - overpayment or investment?